
# Byte-compiled / optimized / DLL files
pegasus/**/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Checkpoints
ckpt/

# Sensitive data
#utils/output.csv
#utils/dic_data.npy
#pegasus/data/testdata/emails_complains_pattern.tfrecords
#pegasus/data/testdata/emails_complains_pattern_dev.tfrecords
#pegasus/data/testdata/emails_complains_pattern_test.tfrecords
#pegasus/data/testdata/emails_complains_pattern_train.tfrecords

